.t-section__descr {
  max-width: 560px;
}

#rec896716438 .t-section__title {
  margin-bottom: 40px;
}

#rec896716438 .t-section__descr {
  margin-bottom: 90px;
}

@media screen and (max-width:960px) {
  #rec896716438 .t-section__title {
    margin-bottom: 20px;
  }

  #rec896716438 .t-section__descr {
    margin-bottom: 45px;
  }
}