.diagonal-divider {
    position: relative;
    background-color: #1E293B;
}

.diagonal-divider::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #f3f4f6;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.background-agency {
    background: url('https://source.unsplash.com/1600x900/?office,corporate') no-repeat center center;
    background-size: cover;
    position: relative;
}
.background-agency::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}